# Dependencies
node_modules/
__pycache__/
*.pyc
.env
venv/

# Database
*.db

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Secrets & Credentials
*firebase-adminsdk*.json
*.deprecated

